table, th, td {
    cursor: pointer;
    }
    table, th {
        cursor: pointer
    }
    .tableFixHead {
        overflow: auto;
        }
    .tableFixHead thead th {
        position: sticky;
        top: 0;
    }
    .tableFixHead_double_header{
        overflow: auto;  
    }
    .tableFixHead_double_header th{
        position: sticky;
        top: 0;
    }
    .pcoded-navbar.open {
        display: block!important;
    }
    
   
    @media only screen and (max-width: 1200px) {
        .pcoded .pcoded-navbar {
            height: 400px;
        }
        .main-top {
            margin-top: 1px;
        }
        .pcoded .pcoded-navbar .pcoded-item>li>a {
            padding: 9px 5px;
        }
        .icon-menu {
            color: white;
        }
        .icon-more-horizontal{
            color: white;
        }
        .pcoded[pcoded-device-type="desktop"] .navbar-logo .mobile-menu,
        .pcoded[pcoded-device-type="desktop"] .pcoded-brand .menu-toggle,
        .pcoded[pcoded-device-type="tablet"] .navbar-logo .mobile-menu,
        .pcoded[pcoded-device-type="tablet"] .pcoded-brand .menu-toggle {
            display: inline;
        }
        .pcoded .pcoded-navbar .pcoded-item>li {
            float: none;
        }
        .pcoded[theme-layout="horizontal"][pcoded-device-type="phone"] .pcoded-navbar.show-menu {
            opacity: 1;
            visibility: visible;
            transform: rotateX(0deg);
        }
        .pcoded-navbar {
            height: auto;
        }
        .top-navber{
           /* margin-top: -60px !important;*/
        }
        .pcoded-navbar {
            display: none !important;
       }
    }
    .currentNav,
    .activedata {
       background-color: #0f9 !important;
    }
    @media (max-width: 991px) {
        #menu {
            margin-top: 50px !important;
        }
    }
    .current-row {
        /*  background-color: #01a9ac !important;  */
        background-color: #ddd !important;
        color: #000 !important;
        /* font-weight: bold !important;  */
    }
    .current-col {
        background-color: #ddd !important;
        color: #000;
    }
    .tutorial-table {
        width: 100%;
        font-size: 0.9em;
        border-top: #e5e5e5 1px solid;
        border-spacing: initial;
        margin: 20px 0;
        word-break: break-word;
        table-layout: fixed;
    }
    .tutorial-table th.table-header {
        background-color: #f5f5f5;
        padding: 5px;
        text-align: left;
        padding: 10px;
    }
    .tutorial-table .table-row td {
        padding: 10px;
    }
    table {
        text-align: left;
        position: relative;
    }

    th {
        background: white;
        position: sticky;
        top: 0;
    }
    .history_font_size{
        font-size:11px;
    }

 .modal
    {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
    .center
    {
        margin: 300px auto;
        padding: 10px;
        width: 130px;
        border-radius: 10px;
    }
    .center img
    {
        height: 128px;
        width: 128px;
    }


    .select2-selection__rendered
    {
        padding-top: 2px !important;
        padding-bottom: 2px !important;
    }

    .select2-selection__arrow{
        top:5px !important;
    }
    .form-group{
        margin-bottom:.5em !important;
    }
    .form-control{
        padding:2px 5px 2px 5px !important;
    }

    .btn{
        padding: 4px 19px;
    }