  .form-control {
     font-size: 16px;
     border-radius: 3px;
     border: 1px solid #ccc;
   }
  /* .customers th {
     background-color: #1AB0C3;
     color: white;
    } */
    .table > :not(:first-child) {
      border-top: 0px solid currentColor;
    }
    .table > :not(:first-child) {
     border-top: 0px solid currentColor;
    }