.pcoded
  .pcoded-navbar[active-item-theme="theme11"]
  .pcoded-item
  li
  .pcoded-submenu
  li.active
  > a,
.pcoded
  .pcoded-navbar[active-item-theme="theme11"]
  .pcoded-item
  li
  .pcoded-submenu
  li:hover
  > a {
  color: #39adb5 !important;
}

.pcoded
  .pcoded-navbar[active-item-theme="theme11"]
  .pcoded-item
  li
  .pcoded-submenu
  li.active
  > a {
  font-weight: 600;
}

.pcoded
  .pcoded-navbar[active-item-theme="theme11"]
  .pcoded-item
  li.pcoded-hasmenu:hover
  > a {
  color: #fff !important;
}

.pcoded .pcoded-navbar[active-item-theme="theme11"] .pcoded-item li:hover > a {
  color: #fff !important;
  background: #39adb5;
}

.pcoded
  .pcoded-navbar[active-item-theme="theme11"]
  .pcoded-item
  > li.pcoded-trigger
  .pcoded-submenu
  li
  > a:before,
.pcoded
  .pcoded-navbar[active-item-theme="theme11"]
  .pcoded-item
  > li.active
  .pcoded-submenu
  li
  > a:before {
  border-left-color: #39adb5 !important;
}

.pcoded
  .pcoded-navbar[active-item-theme="theme11"]
  .pcoded-item
  > li.pcoded-trigger
  > a:before,
.pcoded
  .pcoded-navbar[active-item-theme="theme11"]
  .pcoded-item
  > li.active
  > a:before {
  border-left-color: #39adb5 !important;
}

.pcoded .pcoded-navbar[active-item-theme="theme11"] .searchbar-toggle {
  color: #39adb5;
}

.theme-color a[active-item-theme="theme11"] {
  background: #39adb5;
}
