.pcoded
  .pcoded-navbar[active-item-theme="theme8"]
  .pcoded-item
  li
  .pcoded-submenu
  li.active
  > a,
.pcoded
  .pcoded-navbar[active-item-theme="theme8"]
  .pcoded-item
  li
  .pcoded-submenu
  li:hover
  > a {
  color: #3c4fb1 !important;
}

.pcoded
  .pcoded-navbar[active-item-theme="theme8"]
  .pcoded-item
  li
  .pcoded-submenu
  li.active
  > a {
  font-weight: 600;
}

.pcoded
  .pcoded-navbar[active-item-theme="theme8"]
  .pcoded-item
  li.pcoded-hasmenu:hover
  > a {
  color: #fff !important;
}

.pcoded .pcoded-navbar[active-item-theme="theme8"] .pcoded-item li:hover > a {
  color: #fff !important;
  background: #3c4fb1;
}

.pcoded
  .pcoded-navbar[active-item-theme="theme8"]
  .pcoded-item
  > li.pcoded-trigger
  .pcoded-submenu
  li
  > a:before,
.pcoded
  .pcoded-navbar[active-item-theme="theme8"]
  .pcoded-item
  > li.active
  .pcoded-submenu
  li
  > a:before {
  border-left-color: #3c4fb1 !important;
}

.pcoded
  .pcoded-navbar[active-item-theme="theme8"]
  .pcoded-item
  > li.pcoded-trigger
  > a:before,
.pcoded
  .pcoded-navbar[active-item-theme="theme8"]
  .pcoded-item
  > li.active
  > a:before {
  border-left-color: #3c4fb1 !important;
}

.pcoded .pcoded-navbar[active-item-theme="theme8"] .searchbar-toggle {
  color: #3c4fb1;
}

.theme-color a[active-item-theme="theme8"] {
  background: #3c4fb1;
}

.theme-color a[sub-item-theme="theme8"] {
  background: #384b5f;
}
